# Dependencies
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS junk
.DS_Store
Thumbs.db

# VS Code local workspace
.vscode/settings.json

# Environment files
.env
.env.local

coverage/
*.tsbuildinfo
